<div class="mail-message-list">
  <table>
    <thead>
      <tr>
        <th>{{ 'From'|t }}</th>
        <th>{{ 'To'|t }}</th>
        <th>{{ 'Subject'|t }}</th>
        <th>{{ 'Date'|t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages.items %}
        {% set show_url = path('mailhogger.message_show', {id: message.ID}) %}
        <tr>
          <td><a href="{{ show_url }}">{{ message.Raw.From }}</a></td>
          <td>
            <a href="{{ show_url }}">
              {% for to in message.Raw.To %}
                {{ to }}
                {% if not loop.last %}
                  <br/>
                {% endif %}
              {% endfor %}
            </a>
          </td>
          <td><a href="{{ show_url }}">{{ message.Content.Headers.Subject[0] }}</a></td>
          <td><a href="{{ show_url }}">{{ message.Content.Headers.Date[0]|date }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
